@import url('https://fonts.googleapis.com/css?family=Righteous:100,200,300,400,500,600,700|Source+Sans+Pro&display=swap:100,200,300,400,500,600,700');

/*-----------------------COLOURS */

/*-----------------------SPECIAL MARGINS/HEADINGS/TEXT */
.block-divider {
    width: 100px;
    color: whitesmoke;
}

/*-----------------------NAVBAR */

/*-----------------------HOME */

/*-----------------------GALLERY */
/* Carousel code from Bootstrap website with changes to the features made by myself in html & css */
.gallery-container {
    padding: 20px 25px;
}

.gallery-container h1 {
    font-family: 'Righteous', sans-serif;
}

/*-----------------------ABOUT */
/* Code learnt from tutorials with changes made by myself */
.about-container {
    padding: 20px 25px;
}

.about-container h1 {
    font-family: 'Righteous', sans-serif;
}

.about-container p {
    font-family: 'Source Sans Pro', sans-serif;
}

.about-container h5 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.member-image {
    border: 25px solid transparent;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.member-image:hover {
    background-color: #FF8457;
}



/*-----------------------BOOKINGS */

/*-----------------------MEDIA QUERIES */
@media (min-width: 992px) {
    .about-container h1 {
        font-size: 100px;
    }
}