/*-----------------------FONT */

@import url('https://fonts.googleapis.com/css?family=Righteous:100,200,300,400,500,600,700|Source+Sans+Pro&display=swap:100,200,300,400,500,600,700');

/*-----------------------SMOOTH SCROLL */
/* Smooth scroll code from Slack */

html {
  scroll-behavior: smooth;
}

/*-----------------------BACKGROUND COLOURS */

.about-container, 
.gallery-container,
.bookings-container,
.music-container,
.location-container {
    background-color: #494949;
    color: #FFFFFF;
}

/*-----------------------SPECIAL MARGINS/HEADINGS/TEXT */

.line-divider {
    align-items: center;
    display: flex;
    height: 2px;
    width: 70px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.nav-brand {
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
}

.section-title {
    font-family: 'Righteous', sans-serif;
    padding-top: 50px; /*---ScrollSpy navigation was previously blocking the headings with navbar---*/
}

.label {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.footer-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.small-text {
    font-family: 'Source Sans Pro', sans-serif;
}

/*-----------------------NAVBAR */
/* Navbar code from mdbootstrap.com & tutorials with changes to the features made by myself in html & css */

.navbar {
    position: fixed;
    margin-bottom: 0;
    width: 100vw;
    background-color: #494949;
    border: 0;
    z-index: 100;
    opacity: 0.8;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

.navbar-links {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.navbar-links:hover {
    color: #FF5D73;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

/*-----------------------HOME */
/* Code learnt from tutorials & 'HTML & CSS design and build websites" by Jon Duckett */

.header-image {
  display: flex;  
  background-image: url("../images/bw-audience.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*-----------------------ABOUT */
/* Code learnt from w3schools.com & tutorials with changes made by myself */

.about-container {
    padding: 20px 25px;
}

.member-image {
    border: 25px solid transparent;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.about-hover:hover {
    background-color: #FF5D73;
    transition: background-color 0.8s ease-in-out;
    -moz-transition: background-color 0.8s ease-in-out;
    -webkit-transition: background-color 0.8s ease-in-out;
    -o-transition: background-color 0.8s ease-in-out;
}

/*-----------------------GALLERY */
/* Carousel code from getbootstrap.com with changes to the features made by myself in html & css */

.gallery-container {
    padding: 0px 0px 25px;
}

.carousel-icon {
    color: #FFFFFF;
    font-size: 30px;
}

.carousel-icon:hover {
    color: #FF5D73;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

/*-----------------------MUSIC */
/* Code from stackoverflow.com but changes to the features made by myself in html & css */

.soundcloud {
    height: 50vh;
    width: 40vw;
}

.iframe-divider {
    width: 20px;
}

/*-----------------------BOOKINGS */
/* Code from tutorials but changes to the features made by myself in html & css */

.bookings-container {
    padding: 40px;
}

input[class=form-control]:focus{ 
    border: #FF5D73;
    box-shadow: 0 0 5px #FF5D73;    
    
}

textarea[class=form-control]:focus{ 
    border: #FF5D73;
    box-shadow: 0 0 5px #FF5D73;    
    outline: #FF5D73; 
}

.btn-secondary {
    background-color: #FF5D73;
    color: #FFFFFF;
    border: transparent;
}

.btn-secondary:hover {
    background-color: #FF5D73;
    color: #7C7A7A;
    border: transparent;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

/*-----------------------LOCATION */

.location-container {
    padding-bottom: 20px;
}

/*-----------------------FOOTER */
/* Code from tutorials but changes to the features made by myself in html & css */

footer {
    min-height: 150px;
    margin: 0;
    background-color: #7C7A7A;
    color: #FFFFFF;
    opacity: 0.7;
}

#footer-info {
    padding: 20px;
    text-align: left;
}

.icon-border a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 30%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #FFFFFF;
}

.icon-border i:hover {
    background: #FF5D73;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
} 

/*-----------------------MEDIA QUERIES */
/* Code from tutorials but changes to the features made by myself in html & css */

@media (min-width: 992px) {
    .section-title {
        font-size: 60px;
    }
}


